body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 300px;
    min-height: 500px;
    overflow-x: hidden;
  }

  .container {
    display: flex;
    min-height: 100vh;
  }
  
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 180px; /* Ancho del sidebar */
    height: 100vh;
    background-color: #d32f2f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
  }
  @media (max-width: 768px) {
    .sidebar {
      width: 140px; /* Sidebar más pequeño en tablets */
    }
  }
  
  @media (max-width: 480px) {
    .sidebar {
      width: 100px; /* Más pequeño en móviles */
    }
  
    .logo {
      width: 40px;
      height: 40px;
    }
  }
  
  .logo {
    position: absolute;
    background-image: url('/assets/logoelitez.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .menu-item {
    color: white;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .menu-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
  }
  
  /* Contenedor de la parte principal (derecha) */
  .main-content {
    margin-left: 200px; /* Deja espacio suficiente para el sidebar */
    padding: 20px;
    width: calc(100% - 200px); /* Ajusta el contenido para respetar el ancho del sidebar */
    overflow-y: auto;
  }
.plans {
  padding: 50px 0;
  text-align: center;
}

.plans h1 {
  font-size: 2.8rem;
  margin-bottom: 20px;
  color: #ffffff;
  letter-spacing: 2px;
}

.plan-container {
    margin-top: 10%;
  display: flex;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.plan {
  background-color: #331111;
  border: 2px solid #f21b1b;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  padding: 30px;
  text-align: left;
  box-shadow: 0px 0px 20px rgba(246, 9, 9, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.plan:before {
  content: '';
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  border: 1px solid #e91a0f;
  border-radius: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.plan:hover:before {
  opacity: 1;
}

.plan:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 30px rgba(241, 19, 19, 0.8);
}

.plan h2 {
  color: #ff0000;
  font-size: 2rem;
  margin-bottom: 20px;
  border-bottom: 2px solid #f53434;
  padding-bottom: 10px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 5px rgba(85, 84, 84, 0.3);
}

.plan ul {
  list-style: none;
  padding: 0;
}

.plan ul li {
  margin: 15px 0;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan ul li i {
  font-size: 1.5rem;
  color: #ccd9e4;
}

.plan .price {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background: linear-gradient(90deg, #ed0b0b, #422b2b);
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, background 0.3s ease;
}

.plan .price:hover {
  transform: scale(1.05);
  background: linear-gradient(90deg, #eb1212, #3d1414);
}
.plan p{
    color: #ffffff;
}
.btn-comprar {
  display: block;
  padding: 12px 20px;
  font-size: 1.1rem;
  color: #ffffff;
  background: rgb(193, 2, 2);
  border: none;
  border-radius: 17px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, background 0.3s ease;
  cursor: pointer;
  text-align: center;
  margin-top: 10%;
}

.cuota-title {
  text-align: center !important;
  margin-bottom: 90px !important;
  font-size: 48px;
  font-family: Impact;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal-content {
  background: #1e1e2f;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}